*{
  margin: 0;
  padding: 0;
  font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

.nav{ display: flex; justify-content: space-evenly; align-items: center; background-color: rgb(97, 97, 97);}
.nav a{color: #fff; font-weight: 500; padding: 10px 0;}
.nav a:hover{ color: #fff; font-weight: bold; background-color:rgb(129, 128, 128);}
a{text-align: center; text-decoration: none;}

.logo{background-color: rgb(238, 236, 236);}

.address{background-color: rgb(238, 236, 236);}
.address span{color:rgb(94, 93, 93); line-height: 44px; letter-spacing: 1px;}


/* Small Smartphones */
@media screen and (max-width: 480px) {
  .header{display: flex; flex-flow: column nowrap;}

  .nav{flex-flow: column wrap; display: none; order:2;}
  .nav a{width: 100%;}

  .buttonMob{order:1; text-align: right; padding: 5px 5% 5px 0;}
  .buttonMob img{width: 50px; height: 50px;}

  .logo{order: 3; text-align: center; background-color: #fff;}
  .logo img{width: 70%; height: 200px;}

  .address{order: 4; padding: 10px 0% 10px 0%; line-height: 35px; text-align: center; background-color:rgb(229, 226, 226)}
  .address img{width: 100px; height: 100px; vertical-align: middle;}
  .address strong{color: rgb(9, 150, 9);}
}

/* Medium Smartphones */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header{display: flex; flex-flow: column nowrap;}

  .nav{flex-flow: column wrap; display: none; order:2;}
  .nav a{width: 100%;}

  .buttonMob{order:1; text-align: right; padding: 5px 5% 5px 0;}
  .buttonMob img{width: 50px; height: 50px;}

  .logo{order: 3; text-align: center; background-color: #fff;}
  .logo img{width: 70%; height: 300px;}

  .address{order: 4; padding: 10px 0% 10px 0%; line-height: 35px; text-align: center; background-color:rgb(229, 226, 226)}
  .address img{width: 150px; height: 150px; vertical-align: middle;}
  .address strong{color: rgb(9, 150, 9);}
}

/* Large Smartphones and Small Notbooks */
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .nav{flex-flow: row wrap;}
  .nav a{width: 25%;}

  .buttonMob{display: none;}

  .logo{float: left; padding: 15px 0 15px 10%; width: 30%;}
  .logo img{width: 200px; height: 200px;}

  .address{width: 60%; height: 195px; float: left; padding: 30px 0% 10px 0%; line-height: 35px; text-align: center;}
  .address img{width: 100px; height: 100px; vertical-align: middle;}
  .address strong{color: rgb(9, 150, 9);}
}

/* XLarge Screens */
@media screen and (min-width: 1200px) {

  .nav{flex-flow: row wrap;}
  .nav a{width: 25%;}

  .buttonMob{display: none;}

  .logo{float: left; padding: 15px 0 15px 10%; width: 30%;}
  .logo img{width: 200px; height: 200px;}

  .address{width: 60%; height: 195px; float: left; padding: 30px 0% 10px 0%; line-height: 35px; text-align: center;}
  .address img{width: 100px; height: 100px; vertical-align: middle;}
  .address strong{color: rgb(9, 150, 9);}
  
}